{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
    <h1>Formulario V1! ✅</h1>
    {% form_theme form "form_table_layout.html.twig" %}

    {{ form(form) }}
    {# {{ form(form, {'method': 'GET'})}} #}
{% endblock %}

